<h2>All Partners</h2>
<a href="./partners/new">New Partner</a>

  <table class="table table-striped">
    <thead>
        <% if(user) { %>
          <% partners.forEach(partner => { %>
            <tr>
              <th scope="col">
                <a href="/partners/<%= partner.id %>"><%= partner.name %></a>
              </th>
              <th>
                <p><%= partner.note %></p>
              </th>
              <th>
                <a href="/partners/edit/<%= partner.id %>"> Edit </a>
              </th>
            </tr>
      <%  } )}%>
    </thead>
  </table>

