<div>
  <h2>All Partners</h2>
  <div class="profile"">
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Notes</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
          <% if(user) { %>
            <% partners.forEach(partner => { %>
              <tr>
                <th scope="col">
                  <a class="link-dark" href="/partners/<%= partner.id %>"><%= partner.name %></a>
                </th>
                <th>
                  <p><%= partner.note %></p>
                </th>
                <th>
                  <a class="link-dark" href="/partners/edit/<%= partner.id %>"> Edit </a>
                </th>
              </tr>
        <%  } )}%>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-outline-dark link-dark">
    <a class="link-dark" href="./partners/new" class="btn btn-outline-dark">New Partner</a>
</button>
</div>