<h1>New Partner</h1>

<form action="/partners" method="POST">

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
     </div>
    <div>
        <label for="note">Note:</label>
        <input type="text" id="note" name="note">
    </div> 
    <div>
        <label for="met">How did you meet them?</label>
        <input type="text" id="met" name="met">
    </div> 
    <input type="submit">

</form>