<div>
  <h1>Sexual Health FAQs</h1>

<div class="list-group">
    <a class="link-dark" href="/sexualhealth/syphilis" class="list-group-item list-group-item-action">
      Syphilis
    </a>
    <a class="link-dark" href="/sexualhealth/chlamydia_gonorrhea" class="list-group-item list-group-item-action">Chlamydia and Gonorrhea</a>
    <a class="link-dark" href="/sexualhealth/hepatitisb" class="list-group-item list-group-item-action">Hepatitis B</a>
    <a class="link-dark" href="/sexualhealth/hiv" class="list-group-item list-group-item-action">HIV/Aids</a>
    <a class="link-dark" href="/sexualhealth/letstalk" class="list-group-item list-group-item-action">How to start the STD conversation</a>
    <a class="link-dark" href="/sexualhealth/birthcontrol" class="list-group-item list-group-item-action">Deciding on Birth Control</a>
  </div>
</div>