<div>
    <h1>
        Welcome to Traxxxker!
    </h1>
    
    <div class="profile" id="show_encounter">
        <div class="profile">
            <h2>
                Thank you for choosing Traxxker.
            </h2>
            <h3>
                Our goal is simple: we want to make it fun to have fun! <br> Responsibly!
            </h3>
            <p>
                We offer you the ability to track your sexual encounters and sexual partners. <br> But we can't promote positive sexual practices without providing you with the resources to keep you safe.
            </p>
        </div>             
    </div>
    
</div>