<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to Traxxxker!</h1>
            <h2>Thank you for choosing Traxxxker.</h2>
            <h3>Our goal is simple: we want to make it fun to have fun!</h3>
            <p>
                We offer you the ability to track your sexual encounters and sexual partners. <br>
                But we can't promote positive sexual practices without providing you with the resources to keep you safe. <br>
                That's why we included a sexual health education element so you can educate yourself and others on STDs, safer sex practices, treatment options, and more.
            </p>
            <h4>Let's have fun together...and start Traxxking!</h4>
            <a href="/start" class="btn btn-primary mt-4">Get Started</a>
        </div>
    </div>
</div>
