<div>
    <h2> Welcome <%= user.firstName %> </h2>
    
    <div class="profile" id="show_encounter">
        <div>
            <div>
                <p>We are excited to start this journey with you to help establish safer sex habits.</p>
            </div>
        <button type="button" class="btn btn-outline-dark">
            <a class="link-dark" href="../encounters/">See Your Encounters</a>
        </button>
        <br>
        <button type="button" class="btn btn-outline-dark">
            <a class="link-dark" href="../partners/">See Your Partners</a>
        </button>
        <br>
        <button type="button" class="btn btn-outline-dark">
            <a class="link-dark" href="../sexualhealth/">Lets Talk Sexual Health</a>
        </button>
        </div>
    </div>
</div>