<h2>Thank you for choosing us...</h2>

<h2> Welcome <%= user.firstName %> </h2>

<div class="profile">
    <div>
        <p>We are excited to start this journey with you to help establish safer sex habits. <br> We can help making it fun to have fun! </p>
    </div>
<div>
    <a href="../encounters/">See Your Enounters</a>
</div>
<div>
    <a href="../partners/">See Your Partners</a>
</div>
<div>
    <a href="../sexualhealth/">Lets Talk Sexual Health</a>
</div>
</div>