<div>
    <h2>Logged into Traxxker!</h2>

    <h2> Welcome <%= user.firstName %> </h2>
    
    <div class="profile" id="show_encounter">
        <div>
            <div>
                <p>We are excited to start this journey with you to help establish safer sex habits. <br> We can help making it fun to have fun! </p>
            </div>
        <button type="button" class="btn btn-outline-dark">
            <a href="../encounters/">See Your Enounters</a>
        </button>
        <button type="button" class="btn btn-outline-dark">
            <a href="../partners/">See Your Partners</a>
        </button>
        <button type="button" class="btn btn-outline-dark">
            <a href="../sexualhealth/">Lets Talk Sexual Health</a>
        </button>
        </div>
    </div>
</div>