<h1>New Encounter</h1>

<form action="/encounters" method="POST">

    <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" required>
     </div>
    <div>
        <label for="note">Note:</label>
        <input type="text" id="note" name="note">
    </div> 
    <div>
        <label for="partner">Partner</label>
        <select name="partner.name">
            <% partner.forEach((partner) => { %>
                <option value ="partner.name">
                    <%= partner.name %>
                </option>
                <input type="hidden" id="note" name="partnerId" value="partner.id" >
            <%  }) %>
            <div>
            </div> 
          </select>
    </div> 
    <input type="submit">

</form>

