<h1>New Encounter</h1>

<form action="/encounters" method="POST">

    <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" required>
     </div>
    <div>
        <label for="note">Note:</label>
        <input type="text" id="note" name="note">
    </div> 
    <div>
        <label for="partnerName">Partner</label>
        <select name="partnerName">
            <% partners.forEach((partner) => { %>
                <option>
                    <%= partner.name %>
                </option>
           <% }) %>
        </select>
        <a href="../partners/new" class="link-dark">Create a New Partner</a>
    </div>
    <input type="submit">

</form>
